.controls {
  display: flex;
  justify-content: space-around;
}

mat-list-item {
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: ease-out;

  div {
    min-width: 20vw;
  }

  span {
    min-width: 20vw;
  }

  &:hover {
    background-color: rgba(255, 64, 129, .1)
  }
}

.mat-list-item {
  height: auto !important;
  padding: .5rem !important;
}

.created {
  &-email {
    margin: 0 auto;
  }

  &-avatar img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
  }
}

.donation-at-date {
  margin: 0 auto;
}

.comment-at-date {
  margin: 0 auto;
}

.more-details {
  // display: flex;
  // justify-content: space-between;
}

.description {
  // width: 40%;
  // height: auto;
}

.map {
  // width: 40%;
}

article {
  margin-bottom: 5rem;
}
