.navbar {
  justify-content: flex-start;
}

ul.navbar-nav {
  justify-content: flex-start;
}

.user-welcome {
  justify-self: flex-end;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
}
